<?php
class Configuration {
	var $api_key =  "YOUR_API_KEY";
	var $feed = YOUR_FEED_ID;
	var $datastream = "YOUR_DATASTREAM_ID";
	var $price = PRICE_PER_UNIT;
	var $co2equivalents = YOUR_CO2_OUTPUT_PER_UNIT;
	var $timezone = "YOUR_FEED_TIMEZONE";
}

$config = new Configuration();
?>
